.narea {
    height: 70px;
    padding: 20px;
}

.narea button {
    padding: 2px 4px;
    background-color: rgba(0, 0, 0, 0);
}

.portfolio {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

@media (max-width:900px) {
    .portfolio {}
}

.pitem {
    min-width: 260px;
    width: 260px;
    display: inline-block;
    background-color: rgb(24, 24, 24);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 240px;
    margin-left: 10px;
    margin-top: 10px;


}

.cardanim {
    animation-name: cardmove;
    animation-duration: 1s;
}

@keyframes cardmove {
    0% {
        margin: 400px 0px 0px 10px;
    }

    100% {
        margin: 10px 0px 0px 10px;
    }
}





.iicon {
    margin-top: -40px;
    position: relative;
    left: -40px;
    top: 50px;
    background-color: rgb(47, 47, 47);
    border-radius: 20%;
    min-height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all 0.5s;
    opacity: 0;
}

.pitem img {
    width: 260px;
}

.ptxt {
    width: 260px;
    font-size: 0.8rem;
    background-color: rgb(47, 47, 47);
    color: rgb(192, 192, 192);
    height: 70px;
    overflow: hidden;
    margin-top: 0px;
    display: inline-block;
    transition: all 0.5s;
}

.pitem:hover .ptxt {
    height: 80px;
    margin-top: -80px;
}

.pitem:hover {
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.pitem:hover .iicon {
    left: 10px;
    opacity: 1;
}

.portfolioheadder {
    padding: 10px 0px 15px 15px;
    background-color: rgb(26, 25, 25)
}